*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgba(45, 68, 77, 0.897);
    min-height: 100vh;
    background-size: 210vh 49vw;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}
.board{
    background: linear-gradient(rgb(138, 243, 203), rgb(214, 221, 115));
    width: 90vmin;
    height: 92vmin;
    border: 2px solid rgba(0, 0, 0, 0.671);
    display: grid;
    grid-template-columns: repeat(18, 1fr);
    grid-template-rows: repeat(18, 1fr);
}
.head{
    background-color: purple;
}
.food{
    background-color: red;
}